:root {
    --primeira-cor: #78C0E0;
    --segunda-cor:#449DD1;

    --borda:#150578;

    --fundo:#0E0E52;
    --text:#3943B7;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color:var(--fundo);
    color: var(var(--text);
    font-size: 30px;
}

h1 {
    color: var(--primeira-cor);
}

.conteudo {
    display: flex;

    height: 200px;
}

.conteudo > .esquerda > img {
    width: 70px;
    height: 70px;
}